/ BEGIN .popup-register
.popup.js-popup.popup_register
  .popup__top
    %button.popup__btn-close
    .popup__title регистрация
  .popup__in
    %label.label
      %span.label__title Логин *
      %span.label__in
        %i.ico-login
        %input.label__txt{placeholder: "yourmail@mail.com", type: "text"}/
    %label.label
      %span.label__title Телефон *
      %span.label__in
        %i.ico-phone
        %input.label__txt{placeholder: "+7 (123) 456-78-90", type: "text"}/
    %label.label
      %span.label__title Пароль
      %span.label__in
        %i.ico-pass
        %input.label__txt{placeholder: "•••••••••", type: "password"}/
      %span.label__help Пароль должен состоять минимум из 8 символов (A-Z, a-z, 0-9)
    %label.label
      %span.label__title Повторите пароль
      %span.label__in
        %i.ico-pass
        %input.label__txt{placeholder: "•••••••••", type: "password"}/
    %button.btn ГОТОВО
/ END .popup-register


/ BEGIN .popup-login
.popup.js-popup.popup_login
  .popup__top
    %button.popup__btn-close
    .popup__title авторизация
  .popup__in
    %label.label.is-error
      %span.label__title Логин
      %span.label__in
        %i.ico-login
        %input.label__txt{placeholder: "yourmail@mail.com", type: "text"}/
      %span.label__error
        %span Текст ошибки
    %label.label.is-error
      %span.label__title Пароль
      %span.label__in
        %i.ico-pass
        %input.label__txt{placeholder: "•••••••••", type: "password"}/
      %span.label__error
        %span Текст ошибки который дольше чем какой-то
    %label.label-check
      %input{checked: "checked", type: "checkbox"}/
      %i
      %span Запомнить меня
    %button.btn ВОЙТИ
    %button.btn.is-load
      подождите
      %img{alt: "", src: "/assets/loader-s.gif"}/
    .popup__pass-forgot
      %a{href: "#"} Забыли ваш пароль?
/ END .popup-login

