%ul.goods-list
  //goods item
  %li.goods-item#good-id-1000
    .goods-item-wrapper
      .goods-add-to-basket.g-clearfix
        .goods-button-add
          %span Add to basket
        .goods-count
          %input{type:"text", placeholder:"1"}
      .goods-image
      .goods-title
        %span {{good.good_name}}
      .goods-price
        %span ${{good.price}}
      .goods-stores
        {{good.store_name}}