/ BEGIN .static
.static.static_browsers
  .container
    .static__in
      .title Извините, но Ваш браузер устарел
      .static__help
        %p Для того чтобы пользоваться всема функциями и сервисами, которые мы предлагаем.
        %p Вам необходимо скачать и установить свежую версию Вашего браузера. Спасибо!
      %ul.browsers
        %li
          %a{href: "#"}
            %i.browsers__item-1
            %span Chrome
        %li
          %a{href: "#"}
            %i.browsers__item-2
            %span Safari
        %li
          %a{href: "#"}
            %i.browsers__item-3
            %span Firefox
        %li
          %a{href: "#"}
            %i.browsers__item-4
            %span Opera
  %a.logo{href: "#"}
    %span.logo__pic
    %span.logo__txt
      %span Globo
      %span Market
/ END .static