%h1 Main Page
- if current_user
    %a{:href => '/'}= current_user.name
    \|
    %a{:href => logout_path} Logout
- else
    %a{:href => login_path} Login
    \|
    %a{:href => register_path} Registration


%h1 Stores
- @stores.each do |store|
    %a{:href => "/goods/#{store.url}"}= store.name
    \|


