.title
  %a{href: "#"} РЕЦЕПТЫ
  Тайский салат из утки
/ BEGIN .recipe
.recipe
  .recipe__item
    .recipe__pic
      %img{alt: "", src: "img/pic6.jpg"}/
    .recipe__detail
      .recipe__by
        %span Рецепт от
        %img{alt: "", src: "img/shop3-l.png"}/
      .recipe__desc Утиная грудка по праву считается одним из самых вкусных деликатесов. Она невероятно нежная и мягкая и не требует предварительного маринования. Как правило, утиную грудку готовят на гриле, либо на сковороде, причем, как советуют гурманы, мясо не рекомендуется прожаривать. Утиная грудка великолепно сочетается с ягодными и фруктовыми соусами. Но сегодня мы попробуем приготовить утиную грудку не совсем стандартным образом. Мы будем ее варить. сегодняшний рецепт — тайский салат из утки. Утиная грудка по праву считается одним из самых вкусных деликатесов. Она невероятно нежная и мягкая и не требует предварительного маринования.
      %ul.recipe__info
        %li
          %strong Время подготовки
          %i.recipe__info-time
          %span 15 мин.
        %li
          %strong Время приготовления
          %i.recipe__info-cook
          %span 15 мин.
        %li
          %strong Количество порций
          %i.recipe__info-value
          %span 4 Порции
  .recipe__cols
    .recipe__ingreds
      / BEGIN .ingreds
      .ingreds
        .ingreds__in
          .ingreds__title Список ингредиентов
          .ingreds__text Вам не хватает ингредиентов для приготовления блюда? Никаких проблем, просто отметьте недостающие продукты, и найдите их в нашем магазине!
          .ingreds__list
            %label
              %strong 300 г
              %span Утиная грудка
              %input{checked: "checked", type: "checkbox"}/
              %i
            %label
              %strong 1 ст. л
              %span Рыбный соус
              %input{type: "checkbox"}/
              %i
            %label
              %strong 5 ст. л
              %span Тамариндовая паста
              %input{type: "checkbox"}/
              %i
            %label
              %strong 1 ст. л
              %span Острый соус для морепродуктов
              %input{checked: "checked", type: "checkbox"}/
              %i
            %label
              %strong по вкусу
              %span Перец чили
              %input{checked: "checked", type: "checkbox"}/
              %i
            %label
              %strong 1 упаковка
              %span Рисовые крекеры
              %input{type: "checkbox"}/
              %i
            %label
              %strong 1 упаковка
              %span Салат руккола произв. ”Белая Дача”
              %input{type: "checkbox"}/
              %i
            %label
              %strong 100 г
              %span Лук “Шалот”
              %input{type: "checkbox"}/
              %i
        .ingreds__search
          .ingreds__title Недостающие ингредиенты
          %ul.ingreds__search-list
            %li Утиная грудка
            %li Перец чили
            %li Острый соус для морепродуктов
          %button.btn.btn-globo НАЙТИ
      / END .ingreds
    .recipe__comm
      / BEGIN .comment
      .comment
        .comment__text Приятного аппетита, любители экзотики! Надеюсь, Вам понравился наш рецепт. Мы с женой каждую неделю готовим данное блюдо.  Детишки также в восторге)
        .comment__person
          %img{alt: "", src: "img/pic7.jpg"}/
          %strong Васькин Василий Ли
          %span Генеральный директор "Азбука Вкуса"
      / END .comment
      / BEGIN .share
      .share
        %a.share__vk{href: "#"}
        %a.share__fb{href: "#"}
        %a.share__gp{href: "#"}
        %a.share__mr{href: "#"}
        %a.share__ok{href: "#"}
        %a.share__tb{href: "#"}
        %a.share__rss{href: "#"}
        %a.share__tw{href: "#"}
      / END .share
    .recipe__cooking
      / BEGIN .cooking
      .cooking
        .cooking__title Приготовление
        .cooking__item
          .cooking__count 1
          .cooking__desc
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
            .cooking__pics
              %a{href: "#"}
                %img{alt: "", src: "img/pic8.jpg"}/
              %a{href: "#"}
                %img{alt: "", src: "img/pic8.jpg"}/
        .cooking__item
          .cooking__count 2
          .cooking__desc
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
        .cooking__item
          .cooking__count 3
          .cooking__desc
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
            .cooking__pics
              %a{href: "#"}
                %img{alt: "", src: "img/pic8.jpg"}/
              %a{href: "#"}
                %img{alt: "", src: "img/pic8.jpg"}/
        .cooking__item
          .cooking__count 4
          .cooking__desc
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
            .cooking__video
              %img{alt: "", src: "img/pic9.jpg"}/
        .cooking__item
          .cooking__count 5
          .cooking__desc
            %p Нарежьте утиную грудку на максимально тонкие кусочки и отварите их в небольшом количестве воды, постоянно помешивая. Поскольку мясо утки достаточно нежное, варить его нужно недолго, максимально две-три минуты.
      / END .cooking
/ END .recipe
/ BEGIN .bon-appetit
.bon-appetit
  .bon-appetit__in
    %i
    %span Приятного апетита!
/ END .bon-appetit