.cabinet__content.cabinet__content-orders
  .purchases
    .purchases__head
      .purchases__cell Номер заказа
      .purchases__cell Статус заказа
      .purchases__cell Сумма заказа
      .purchases__cell Дата доставки
    .purchases__row.js-purchases
      .purchases__cell
        %button.btn-dashed 144567
      .purchases__cell В обработке
      .purchases__cell
        12 400
        %i.rub Р
      .purchases__cell --.--.----
    .purchases__row-down
      .purchases__cell
        %ul.purchases__prods
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Ролл с крабовыми палочками Калифорния
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Унаги. Ролл с копчёным угрём
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Плов с мясом баранины
          %li
            %span
              400
              %i.rub Р
            %strong Доставка
        .purchases__delivery
          %ul
            %li
              %span Способ оплаты
              %strong Кредитная карточка
            %li
              %span Адрес доставки
              %strong Москва. ул. Победы, д.6, кв 4.
          %button.btn-arr ПОВТОРИТЬ ЗАКАЗ
    .purchases__row.js-purchases
      .purchases__cell
        %button.btn-dashed.is-active 144567
      .purchases__cell В обработке
      .purchases__cell
        12 400
        %i.rub Р
      .purchases__cell 12.06.2013
    .purchases__row-down{style: 'display: block'}
      .purchases__cell
        %ul.purchases__prods
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Ролл с крабовыми палочками Калифорния
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Унаги. Ролл с копчёным угрём
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Плов с мясом баранины
          %li
            %span
              400
              %i.rub Р
            %strong Доставка
        .purchases__delivery
          %ul
            %li
              %span Способ оплаты
              %strong Кредитная карточка
            %li
              %span Адрес доставки
              %strong Москва. ул. Победы, д.6, кв 4.
          %button.btn-arr ПОВТОРИТЬ ЗАКАЗ
    .purchases__row.js-purchases
      .purchases__cell
        %button.btn-dashed 144567
      .purchases__cell В обработке
      .purchases__cell
        12 400
        %i.rub Р
      .purchases__cell 12.06.2013
    .purchases__row-down
      .purchases__cell
        %ul.purchases__prods
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Ролл с крабовыми палочками Калифорния
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Унаги. Ролл с копчёным угрём
          %li
            %span
              400
              %i.rub Р
            %a{href: '#'} Плов с мясом баранины
          %li
            %span
              400
              %i.rub Р
            %strong Доставка
        .purchases__delivery
          %ul
            %li
              %span Способ оплаты
              %strong Кредитная карточка
            %li
              %span Адрес доставки
              %strong Москва. ул. Победы, д.6, кв 4.
          %button.btn-arr ПОВТОРИТЬ ЗАКАЗ
    .purchases__back
      %a{href: '#'} Вернуться к заказам