- title (@title.blank? ? '' : @title + ' | ') + t('account.title.page_main')
/ Content
.title личный кабинет
/ BEGIN .cabinet
.cabinet
  .cabinet__nav
    = user_account_menu
  .cabinet__in
    = render partial: "user/account/#{@page}"


