# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.sass-cache

# Ignore project files
.idea

# Ignore RVM scripts
.rvmrc

# Ignore database settings
config/database.yml

# Ignore web-server settings
config/unicorn.rb

# Ignore Gemfile.lock
Gemfile.lock
