= content_for :body_class do
  page-admin

= content_for :ng_app do
  adminApp

= content_for :left do

  / Menu
  .span4
    %ul.nav.nav-list
      %li.nav-header Menu
      %li.active Active item
      %li
        %a Some item
      %li
        %a Some item
      %li
        %a Some item

  .span8

    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#tab1", :'data-toggle' => "tab"} Section 1
        %li
          %a{:href => "#tab2", :'data-toggle' => "tab"} Section 2

      .tab-content
        .tab-pane.active#tab1
          %input{:type => "text", 'ng-model' => "searchGoodsList", :placeholder => 'Поиск по товарам'}

        .tab-pane#tab2
          %p Hey! I'm in Section 2.

= content_for :main do

  %div{'ng-view' => true}

  / Angular template — goods list
  %script{:id => "templateGoodsList", :type => "text/ng-template"}

    %div{'ng-show' => "isEmpty(goods)"}
      EMPTY GOODS

    %div
      %table.table
        %caption Products {{goods.length}}
        %thead
          %tr
            %th Number
            %th Name
            %th Description
        %tbody
          %tr{'ng-repeat' => "good in goods | filter:searchGoodsList" }
            %td {{$index}}
            %td {{good.good_name}}
            %td {{good.price}}




















