= content_for :body_class do
  admin

= content_for :left do
  .b-admin-menu
    %ul.admin-menu-list
      %li.admin-menu-item
        %a.admin-menu-link{:href => '/admin/goods/index'}
          %span Products
      %li.admin-menu-item
        %a.admin-menu-link{:href => '/admin/categories/index'}
          %span Categories
      %li.admin-menu-item
        %a.admin-menu-link{:href => '/admin/users/index'}
          %span Users
      %li.admin-menu-item.separator
      %li.admin-menu-item
        %a.admin-menu-link{:href => '/admin/settings/index'}
          %span Settings
      %li.admin-menu-item
        %a.admin-menu-link{:href => '/admin/statistics/index'}
          %span Statistics

  .b-admin-combiner
    %ul.admin-combiner-list
      %li.admin-combiner-item
        .admin-combiner-tab
          %span Categories
        .admin-combiner-content
          .b-admin-categories
            %ul.admin-categories-list
              %li.admin-categories-item
                %a.admin-categories-link

      %li.admin-combiner-item
        .admin-combiner-tab
          %span Filtres
        .admin-combiner-content
          .b-admin-filteres
            .admin-filters-source
              %input
          .b-admin-sort
            .admin-sort-source
              %select
                %option Drinks
                %option Fruits



= content_for :main do
  ddd
