- content_for :content do
  .checkout
    %h1= t('order.checkout')
    .row-fluid
      %a.step.n1 Step 1
      \|
      %a.step.n2 Step 2
      \|
      %a.step.n3 Step 3

    = render :partial => 'store/order/p/order_step_auth'

    = render :partial => 'store/order/p/order_step_delivery'

    = render :partial => 'store/order/p/order_step_payment'

- content_for :js do
  - javascript_include_tag 'included/order'