.m-about
  .title О НАС
  .m-about__in
    %p
      %b GloboMarket
      это новый тип супермаркета, который позволяет сравнить цены и заказать продукты в Вашем любимом супермаркете. Наша цель, чтобы помочь вам сэкономить время и деньги, давая вам наилучшие опыт покупок в Интернете.
    %p Мы предлагаем товвары ведущих ретейлеров России. Все, что вам нужно сделать, это выбрать свой любимый супермаркет - Азбука Вкуса, Алые Паруса, Зеленый Перекресток и вперед за покупками!
    %p Это зависит от вас, как вы используете наш сайт: Вы можете заказать Вашу корзину онлайн, распечатать Вашу корзину как список покупок и взять его с собой при походе в ближайщий супермаркет или просто сравнить цены онлайн.