%footer.footer
  .footer__in
    .footer__left
      %a.logo{href: Settings.common.domain.main_link}
        %span.logo__pic.logo__pic_white
      .social
        = render :partial => 'partials/common/social'
    %nav.footer__nav
      %ul
        %li Информация
        %li
          %a{href: contacts_path} Конткты
        %li
          %a{href: about_path} О проекте
        %li
          %a{href: help_path} Помощь

      %ul
        %li Магазины
        - @stores.each do |store|
          %li
            %a{href: "/goods/#{store.url}"}= store.name

      %ul
        %li Дополнительно
        %li
          %a{href: '/recipes'} Рецепты
        %li
          %a{href: '/blog'} Блог
        %li
          %a{href: '/promo'} Акции

    .copyright
      = Time.now.year
      ©
      = Settings.common.title

/ BEGIN .overlay
.overlay
