//
// Base variables and mixins
//

// base
$base-font-color: #333;
$base-font-family: "PT Sans", Arial, Tahoma;
$base-font-size: .875em; //14px
$base-background: #75b54a;


@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -o-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin selection($color) {
  *::-webkit-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-moz-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-o-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-ms-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient($image, $color-from, $color-to) {
  background: $image, $color-from;
  background: $image, -moz-linear-gradient(top,  $color-from 0%, $color-to 100%);
  background: $image, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-from), color-stop(100%,$color-to));
  background: $image, -webkit-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, -o-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, -ms-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, linear-gradient(to bottom,  $color-from 0%,$color-to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-from', endColorstr='$color-to',GradientType=0 ); /* IE6-8 */
}
@mixin transition($function) {
  -webkit-transition: $function;
  -moz-transition: $function;
  -o-transition: $function;
  -ms-transition: $function;
  transition: $function;
}


// header
$header-height: 5em;
$header-gradient-from: #91da53;
$header-gradient-to: #6dad4a;
$header-border-color: rgba(76, 118, 47, 0.8);
$header-box-shadow: 0 1px 0 rgba(213, 233, 195, 0.4) inset, 0 -1px 0 rgba(213, 233, 195, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2);

// menu
$menu-text-color: #D5E9C3;
$menu-text-shadow: 0 -1px rgba(0, 0, 0, .2);
$menu-hover-background: rgba(0, 0, 0, .1);
$menu-active-background: rgba(0, 0, 0, .2);
$menu-active-text-color: #FFF;
$menu-active-text-shadow: none;
$menu-active-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4),0 1px rgba(255, 255, 255, 0.15);

// user
$user-text-color: #FFF;
$user-text-shadow: none;

//
// Layouts
//
.l-container {
  margin: 0 auto;
  max-width: 1200px;
}
.l-header {
  position: relative;
  height: $header-height;
  background: $base-background;
  @include gradient(url("/assets/noise.png"), $header-gradient-from, $header-gradient-to);
  border-bottom: 1px solid $header-border-color;
  @include box-shadow($header-box-shadow);
}
.l-sub-header {
  background: #555;
}
#search {
  padding: 1em;
}

//
// Styles
//
body {
  font-color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

//
// Header
//

// logo
.b-logo {
  float: left;
  padding-right: 3em;

  h1 {
    font-size: 1em;
    margin: .8em 0 0;
  }
}

// menu
.b-menu {
  $menu-height: $header-height;
  $arrow-height: $menu-height / 2;

  @mixin menu-arrow {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
  }

  float: left;
  width: 60%;

  .menu-list {
    margin: 0;
  }
  .menu-item {
    position: relative;
    float: left;
  }
  .menu-link {
    display: block;
    min-width: 180px; // temp
    height: $menu-height;
    padding: 0 5px;
    margin-left: $arrow-height;

    text-align: center;
    text-decoration: none;
    color: $menu-text-color;

    @include transition(color .3s);
    @include text-shadow($menu-text-shadow);
  }
  .menu-text,
  .upper-text,
  .lower-text {
    display: block;
  }
  .upper-text,
  .lower-text {
    color: rgba(255, 255, 255, 0);
    @include text-shadow(none);
    font-size: .8571em;
  }
  .upper-text {
    padding-top: .3em;
  }

  .menu-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    height: 1.6667em;
    line-height: 1.6667em;
    letter-spacing: .1em;
  }

  // hover
  .menu-item:hover {
    .menu-link {
      background: $menu-hover-background;
      color: $menu-active-text-color;
      @include text-shadow($menu-active-text-shadow);
    }
    .menu-arrow {
      @include menu-arrow;
      right: -$arrow-height;
      border-width: $arrow-height 0 $arrow-height $arrow-height;
      border-color: transparent transparent transparent $menu-hover-background;
    }
    .upper-text,
    .lower-text {
      color: rgba(255, 255, 255, .7);
    }
  }
  .menu-item:hover:before {
    content: "";
    @include menu-arrow;
    top: auto;
    bottom: 0;
    left: 0;
    border-width: 0 0 $arrow-height $arrow-height;
    border-color: transparent transparent $menu-hover-background transparent;
  }
  .menu-item:hover:after {
    content: "";
    @include menu-arrow;
    left: 0;
    border-width: 0 $arrow-height $arrow-height 0;
    border-color: transparent $menu-hover-background transparent transparent;
  }

  // active
  .menu-item.active {
    .menu-link {
      background: $menu-active-background;
      color: $menu-active-text-color;
      @include text-shadow($menu-active-text-shadow);
    }
    .menu-arrow {
      @include menu-arrow;
      right: -$arrow-height;
      border-width: $arrow-height 0 $arrow-height $arrow-height;
      border-color: transparent transparent transparent $menu-active-background;
    }
  }
  .menu-item.active:before {
    content: "";
    @include menu-arrow;
    top: auto;
    bottom: 0;
    left: 0;
    border-width: 0 0 $arrow-height $arrow-height;
    border-color: transparent transparent $menu-active-background transparent;
  }
  .menu-item.active:after {
    content: "";
    @include menu-arrow;
    left: 0;
    border-width: 0 $arrow-height $arrow-height 0;
    border-color: transparent $menu-active-background transparent transparent;
  }
}

// user
.b-user {
  width: 20%;
  float: right;
  padding-top: .5em;
  margin: 0;
  font-size: .9286em;
  text-align: right;

  ul {
    margin: 0;
  }
  li, a, span {
    color: $user-text-color;
  }
}

//
// Sub-header
//

// shop-choose
.b-shop-choose {
  float: left;
  width: 20%;
}

// goods-search
.b-goods-search {
  float: left;
  width: 80%;
  .b-search {
    width: 75%;
    float: right;
  }
}

// goods-categories
.b-goods-categories {
  .goods-categories-head-category {
    float: left;

    .goods-categories-item {
      position: relative;
      padding: 10px;
      float: left;
      width: 100px;
      height: 30px;
      color: #FFF;
      cursor: pointer;

      .goods-categories-sub-category {
        position: absolute;
        top: 30px;
        left: 0;
      }
      .goods-categories-item {
        display: none;
        float: none;
        position: static;
        width: 100px;
        height: 30px;
        padding: 20px 10px;
        border: 0;
      }
    }
    .goods-categories-item:hover .goods-categories-item {
      display: block;
    }
  }
}

//
// Blocks
//
.b-select {
  position: relative;
  @include selection(#FFF);

  .select-value {
    float: left;
    display: block;

    cursor: pointer;
    @include border-radius(5px);
    @include gradient(none, #444, #333);
    color: rgba(255, 255, 255, .7);

    span {
      display: block;
      height: 23px;
      line-height: 23px;
      padding: 0 30px 0 10px;
      overflow: hidden;
      @include border-radius(5px);
      background: url("/assets/select-span.png") no-repeat scroll right top transparent;
    }
  }
  .select-list {
    display: none;
    position: absolute;
    left: 0;
    z-index: 16;
    width: 122px;
    margin: 0;
    padding: 2px 0;
    top: 23px;
    list-style: none outside none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #C9C9C9 #C9C9C9;
    border-image: none;
    border-right: 1px solid #C9C9C9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #6D6D6D;
    li {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      span {
        border-bottom: 1px solid #F6F6F6;
        display: block;
        margin: 0 5px;
        padding: 6px 5px;
      }
    }
    li:first-child {
      span {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    li:last-child {
      span {
        border-bottom: medium none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-bottom: 8px;
      }
    }

  }
  select {
    display: none;
  }
}
.b-select.active {
  .select-value {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B9C4CA;
    color: #6D6D6D;
    span {
      background-position: right -23px;
    }
  }
  .select-list {
    display: block;
  }
}


// search
.b-search {
  .search-wrapper {
    float: left;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 30px 0 10px;

    border: 1px solid #287c3f1;
    @include border-radius(5px);
    @include gradient(none, #EEE, #FFF);
    color: #999;
    input {
      background: none;
      border: 0;
    }
  }
}



























