//
// Base variables and mixins
//

// base
$base-font-color: #333;
$base-font-family: "PT Sans", Arial, Tahoma;
$base-font-size: .875em; //14px
$black-green: #11451f; //temp

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -o-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin selection($color) {
  *::-webkit-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-moz-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-o-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-ms-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient($color-from, $color-to) {
  background: $color-from;
  background: -moz-linear-gradient(top,  $color-from 0%, $color-to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-from), color-stop(100%,$color-to));
  background: -webkit-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: -o-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: -ms-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: linear-gradient(to bottom,  $color-from 0%,$color-to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-from', endColorstr='$color-to',GradientType=0 ); /* IE6-8 */
}


// header
$header-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);

// menu
$menu-font-weight: bold;
$menu-text-color: #FFF;
$menu-text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
$menu-active-text-color: #32602e;
$menu-active-text-shadow: 0 -1px 0 rgba(255, 255, 255, .4);

// user
$user-text-color: #1c4b18;
//$user-text-shadow: 0 -1px 0 rgba(255, 255, 255, .5);
$user-text-shadow: none;

//
// Layouts
//
.l-container {
  margin: 0 auto;
  max-width: 1200px;
}
.l-header {
  height: 130px;
  background: url("/assets/header.png") repeat-x;
  @include box-shadow($header-shadow);
}
.l-sub-header {
  position: relative;
  background: #287c3f;

  .before {
    position: absolute;
    z-index: 0;
    top: -25px;
    left: -50%;

    display: block;
    width: 200%;
    height: 110px;
    transform: rotate(-2deg);
    background: #287c3f;
  }
}
#search {
  position: relative;
  top: -2em;
}

//
// Styles
//
body {
  font-color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

//
// Header
//

// logo
.b-logo {
  width: 20%;
  float: left;

  h1 {
    font-size: 1em;
    margin-top: 1em;
  }
}

// menu
.b-menu {
  width: 60%;
  float: left;

  .menu-item {
    float: left;
  }
  .menu-link {
    display: block;
    padding: .8em 1em;

    text-decoration: none;
    font-size: 1.2em;
    font-weight: $menu-font-weight;
    color: $menu-text-color;
    @include text-shadow($menu-text-shadow);
  }
  .menu-link:hover {
    color: $menu-active-text-color;
    @include text-shadow($menu-active-text-shadow);
  }
}

// user
.b-user {
  width: 20%;
  float: left;
  padding-top: 1em;
  font-weight: bold;
  font-size: .9286em;
  text-align: right;
  @include text-shadow($user-text-shadow);

  li, a, span {
    color: $user-text-color;
  }
}

//
// Sub-header
//

// shop-choose
.b-shop-choose {
  float: left;
  width: 20%;
  margin-left: 20%;

  .b-select {
    margin-left: 1em;
  }
}

// goods-search
.b-goods-search {
  float: left;
  width: 60%;
  .b-search {
    margin-right: 1em;
  }
}

// goods-categories
.b-goods-categories {
  .goods-categories-head-category {
    float: left;

    .goods-categories-item {
      position: relative;
      padding: 10px;
      float: left;
      width: 100px;
      height: 30px;
      color: #FFF;
      cursor: pointer;

      .goods-categories-sub-category {
        position: absolute;
        top: 30px;
        left: 0;
      }
      .goods-categories-item {
        display: none;
        float: none;
        position: static;
        width: 100px;
        height: 30px;
        padding: 20px 10px;
        border: 0;
      }
    }
    .goods-categories-item:hover .goods-categories-item {
      display: block;
    }
  }
}

//
// Blocks
//
.b-select {
  position: relative;
  @include selection(#FFF);

  .select-value {
    float: left;
    display: block;

    cursor: pointer;
    border: 1px solid $black-green;
    @include border-radius(5px);
    @include gradient(#287c3f, #1f6331);
    color: #FFF;

    span {
      display: block;
      height: 23px;
      line-height: 23px;
      padding: 0 30px 0 10px;
      overflow: hidden;
      @include border-radius(5px);
      background: url("/assets/select-span.png") no-repeat scroll right top transparent;
    }
  }
  .select-list {
    display: none;
    position: absolute;
    left: 0;
    z-index: 16;
    width: 122px;
    margin: 0;
    padding: 2px 0;
    top: 23px;
    list-style: none outside none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #C9C9C9 #C9C9C9;
    border-image: none;
    border-right: 1px solid #C9C9C9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #6D6D6D;
    li {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      span {
        border-bottom: 1px solid #F6F6F6;
        display: block;
        margin: 0 5px;
        padding: 6px 5px;
      }
    }
    li:first-child {
      span {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    li:last-child {
      span {
        border-bottom: medium none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-bottom: 8px;
      }
    }

  }
  select {
    display: none;
  }
}
.b-select.active {
  .select-value {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B9C4CA;
    color: #6D6D6D;
    span {
      background-position: right -23px;
    }
  }
  .select-list {
    display: block;
  }
}


// search
.b-search {
  .search-wrapper {
    float: left;
    min-width: 200px;

    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 30px 0 10px;

    border: 1px solid #287c3f1;
    @include border-radius(5px);
    @include gradient(#EEE, #FFF);
    color: #999;
    input {
      background: none;
      border: 0;
    }
  }
}



























