//
// Base variables and mixins
//

// icons
@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("/assets/icons/fontello.eot");
  src: url("/assets/icons/fontello.eot?#iefix") format('embedded-opentype'),
  url("/assets/icons/fontello.woff") format('woff'),
  url("/assets/icons/fontello.ttf") format('truetype'),
  url("/assets/icons/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  //fix buttons height, for twitter bootstrap
  line-height: 1em;
  //Animation center compensation - magrins should be symmetric
  //remove if not needed
  margin-left: 0.2em;
  //you can be more comfortable with increased icons size
  //font-size: 120%;
  //Uncomment for 3D effect
  //text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.icon-info:before { content: '\2139'; }
.icon-star:before { content: '\2605'; }
.icon-star-empty:before { content: '\2606'; }
.icon-menu:before { content: '\2630'; }
.icon-heart-empty:before { content: '\2661'; }
.icon-heart:before { content: '\2665'; }
.icon-layout:before { content: '\268f'; }
.icon-pencil:before { content: '\270e'; }
.icon-check:before { content: '\2713'; }
.icon-cancel:before { content: '\2715'; }
.icon-cancel-circled:before { content: '\2716'; }
.icon-user-add:before { content: '\e700'; }
.icon-info-circled:before { content: '\e705'; }
.icon-eye:before { content: '\e70a'; }
.icon-tag:before { content: '\e70c'; }
.icon-trash:before { content: '\e729'; }
.icon-basket:before { content: '\e73d'; }
.icon-arrow-combo:before { content: '\e74f'; }
.icon-left-open-mini:before { content: '\e761'; }
.icon-right-open-mini:before { content: '\e762'; }
.icon-left-open-big:before { content: '\e765'; }
.icon-right-open-big:before { content: '\e766'; }
.icon-tablet:before { content: '\e7b1'; }
.icon-thumbs-up:before { content: '\1f44d'; }
.icon-thumbs-down:before { content: '\1f44e'; }
.icon-user:before { content: '\1f464'; }
.icon-users:before { content: '\1f465'; }
.icon-monitor:before { content: '\1f4bb'; }
.icon-mobile:before { content: '\1f4f1'; }
.icon-arrows-ccw:before { content: '\1f504'; }


// base
$base-font-color: #333;
$base-font-family: "PT Sans", Arial, Tahoma;
$base-font-size: .875em; //14px
$base-background: #75b54a;

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -o-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin selection($color) {
  *::-webkit-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-moz-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-o-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::-ms-selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
  *::selection {
    background: none repeat scroll 0 0 transparent;
    color: $color;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient($image, $color-from, $color-to) {
  background: $image, $color-from;
  background: $image, -moz-linear-gradient(top,  $color-from 0%, $color-to 100%);
  background: $image, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-from), color-stop(100%,$color-to));
  background: $image, -webkit-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, -o-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, -ms-linear-gradient(top,  $color-from 0%,$color-to 100%);
  background: $image, linear-gradient(to bottom,  $color-from 0%,$color-to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-from', endColorstr='$color-to',GradientType=0 ); /* IE6-8 */
}
@mixin transition($function) {
  -webkit-transition: $function;
  -moz-transition: $function;
  -o-transition: $function;
  -ms-transition: $function;
  transition: $function;
}

// admin
$admin-background: #F85142;
$admin-text-color: #FFF;


// header
$header-height: 5em;
$header-gradient-from: #91da53;
$header-gradient-to: #6dad4a;
$header-border-color: rgba(76, 118, 47, 0.8);
$header-box-shadow: 0 1px 0 rgba(213, 233, 195, 0.4) inset, 0 -1px 0 rgba(213, 233, 195, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2);

// menu
$menu-text-color: #D5E9C3;
$menu-text-shadow: 0 -1px rgba(0, 0, 0, .2);
$menu-hover-background: rgba(0, 0, 0, .1);
$menu-active-background: rgba(0, 0, 0, .2);
$menu-active-text-color: #FFF;
$menu-active-text-shadow: none;
$menu-active-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4),0 1px rgba(255, 255, 255, 0.15);

// user
$user-text-color: #FFF;
$user-text-shadow: none;

//
// Layouts
//
.l-wrapper.width-tablet {
  width: 768px;
  height: 1024px !important;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.l-wrapper.width-mobile {
  width: 320px;
  height: 568px !important;
  margin: 0 auto;
  padding-top: 40px;
}

.l-header {
  position: relative;
  height: $header-height;
  background: $base-background;
  @include gradient(url("/assets/noise.png"), $header-gradient-from, $header-gradient-to);
  border-bottom: 1px solid $header-border-color;
  @include box-shadow($header-box-shadow);
}
.l-sub-header {
  background: #555;
}
#search {
  padding: 1em;
}

//
// Adminarea TODO: temp here
//
.b-admin-menu {
  .admin-menu-list {
    margin: 0;
  }
  .admin-menu-item {
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
  .admin-menu-item.separator {
    background: rgba(0, 0, 0, .2);
    height: 20px;
  }
  .admin-menu-link {
    display: block;
    padding: 0 0 0 1em;
    height: 50px;
    line-height: 50px;
  }
}

.b-panel {
  background: rgba(0, 0, 0, .2);
  span {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    float: left;
    padding: 10px;
  }
}
.b-table {
  overflow-x: scroll;
  td {
    padding: 15px 25px 15px 5px ;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}










//
// Styles
//
body {
  font-color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

//
// Header
//
.b-admin {
  background: $admin-background;

  .admin-logo {
    float: left;
    padding: .6em 1em;
    text-transform: uppercase;
    color: $admin-text-color;
    text-decoration: none;
    background: rgba(0, 0, 0, .9);
  }
  .admin-resize-list {
    float: left;
    margin: 0;
    padding: .5em 1em;
  }
  .admin-resize-item {
    float: left;
    color: rgba(255, 255, 255, .7);
    padding-left: .5em;
    a {
      color: $admin-text-color;
      text-decoration: none;
      opacity: .5;
    }
    a:before {
      font-size: 1.2em;
    }
  }
  .admin-resize-item:hover {
    a:hover,
    a:hover:before {
      opacity: 1;
    }
  }
}


// logo
.b-logo {
  float: left;
  padding-right: 3em;

  h1 {
    font-size: 1em;
    margin: .8em 0 0 .8em;
  }
}

// menu
.b-menu {
  $menu-height: $header-height;
  $arrow-height: $menu-height / 2;

  @mixin menu-arrow {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
  }

  float: left;
  width: 60%;

  .menu-list {
    margin: 0;
  }
  .menu-item {
    position: relative;
    float: left;
  }
  .menu-link {
    display: block;
    min-width: 180px; // temp
    height: $menu-height;
    padding: 0 5px;
    margin-left: $arrow-height;

    text-align: center;
    text-decoration: none;
    color: $menu-text-color;

    @include transition(color .3s);
    @include text-shadow($menu-text-shadow);
  }
  .menu-text,
  .upper-text,
  .lower-text {
    display: block;
  }
  .upper-text,
  .lower-text {
    color: rgba(255, 255, 255, 0);
    @include text-shadow(none);
    font-size: .8571em;
  }
  .upper-text {
    padding-top: .3em;
  }

  .menu-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    height: 1.6667em;
    line-height: 1.6667em;
    letter-spacing: .1em;
  }

  // hover
  .menu-item:hover {
    .menu-link {
      background: $menu-hover-background;
      color: $menu-active-text-color;
      @include text-shadow($menu-active-text-shadow);
    }
    .menu-arrow {
      @include menu-arrow;
      right: -$arrow-height;
      border-width: $arrow-height 0 $arrow-height $arrow-height;
      border-color: transparent transparent transparent $menu-hover-background;
    }
    .upper-text,
    .lower-text {
      color: rgba(255, 255, 255, .7);
    }
  }
  .menu-item:hover:before {
    content: "";
    @include menu-arrow;
    top: auto;
    bottom: 0;
    left: 0;
    border-width: 0 0 $arrow-height $arrow-height;
    border-color: transparent transparent $menu-hover-background transparent;
  }
  .menu-item:hover:after {
    content: "";
    @include menu-arrow;
    left: 0;
    border-width: 0 $arrow-height $arrow-height 0;
    border-color: transparent $menu-hover-background transparent transparent;
  }

  // active
  .menu-item.active {
    .menu-link {
      background: $menu-active-background;
      color: $menu-active-text-color;
      @include text-shadow($menu-active-text-shadow);
    }
    .menu-arrow {
      @include menu-arrow;
      right: -$arrow-height;
      border-width: $arrow-height 0 $arrow-height $arrow-height;
      border-color: transparent transparent transparent $menu-active-background;
    }
  }
  .menu-item.active:before {
    content: "";
    @include menu-arrow;
    top: auto;
    bottom: 0;
    left: 0;
    border-width: 0 0 $arrow-height $arrow-height;
    border-color: transparent transparent $menu-active-background transparent;
  }
  .menu-item.active:after {
    content: "";
    @include menu-arrow;
    left: 0;
    border-width: 0 $arrow-height $arrow-height 0;
    border-color: transparent $menu-active-background transparent transparent;
  }
}

// user
.b-user {
  width: 16%;
  float: right;
  padding-top: .5em;
  margin: 0;
  margin-right: 1%;   //TODO: temp-margin
  font-size: .9286em;
  text-align: right;

  ul {
    margin: 0;
  }
  li, a, span {
    color: $user-text-color;
  }
}

//
// Sub-header
//

// shop-choose
.b-shop-choose {
  float: left;
  width: 20%;
}

// goods-search
.b-goods-search {
  float: left;
  width: 80%;
  .b-search {
    width: 75%;
    float: right;
  }
}

// goods-categories
.b-goods-categories {
  .goods-categories-head-category {
    float: left;

    .goods-categories-item {
      position: relative;
      padding: 10px;
      float: left;
      width: 100px;
      height: 30px;
      color: #FFF;
      cursor: pointer;

      .goods-categories-sub-category {
        position: absolute;
        top: 30px;
        left: 0;
      }
      .goods-categories-item {
        display: none;
        float: none;
        position: static;
        width: 100px;
        height: 30px;
        padding: 20px 10px;
        border: 0;
      }
    }
    .goods-categories-item:hover .goods-categories-item {
      display: block;
    }
  }
}

//
// Blocks
//
.b-select {
  position: relative;
  @include selection(#FFF);

  .select-value {
    float: left;
    display: block;

    cursor: pointer;
    @include border-radius(5px);
    @include gradient(none, #444, #333);
    color: rgba(255, 255, 255, .7);

    span {
      display: block;
      height: 23px;
      line-height: 23px;
      padding: 0 30px 0 10px;
      overflow: hidden;
      @include border-radius(5px);
      background: url("/assets/select-span.png") no-repeat scroll right top transparent;
    }
  }
  .select-list {
    display: none;
    position: absolute;
    left: 0;
    z-index: 16;
    width: 122px;
    margin: 0;
    padding: 2px 0;
    top: 23px;
    list-style: none outside none;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #C9C9C9 #C9C9C9;
    border-image: none;
    border-right: 1px solid #C9C9C9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #6D6D6D;
    li {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      span {
        border-bottom: 1px solid #F6F6F6;
        display: block;
        margin: 0 5px;
        padding: 6px 5px;
      }
    }
    li:first-child {
      span {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    li:last-child {
      span {
        border-bottom: medium none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-bottom: 8px;
      }
    }

  }
  select {
    display: none;
  }
}
.b-select.active {
  .select-value {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B9C4CA;
    color: #6D6D6D;
    span {
      background-position: right -23px;
    }
  }
  .select-list {
    display: block;
  }
}


// search
.b-search {
  .search-wrapper {
    float: left;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 30px 0 10px;

    border: 1px solid #287c3f1;
    @include border-radius(5px);
    @include gradient(none, #EEE, #FFF);
    color: #999;
    input {
      background: none;
      border: 0;
    }
  }
}
