iframe{allowtransparency: 'true',
        | frameborder: '0', scrolling: 'no',
        | src: '//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fglobom&width=The+pixel+width+of+the+plugin&height=290&colorscheme=light&show_faces=true&header=true&stream=false&show_border=true&appId=#{Settings.social.fb.app_id}',
        | style: 'border:none; overflow:hidden; width:The pixel width of the pluginpx; height:290px;'}
