%script{src: "//vk.com/js/api/openapi.js?101", type: "text/javascript"}
.m-news
  / VK Widget
  #vk_groups
  :javascript
    VK.Widgets.Group("vk_groups", {mode: 2, width: "250", height: "300", color1: 'FFFFFF', color2: '88949B', color3: '009BEA'}, 55381942);