-#= form_for form, :as => :user, :url => {:controller => 'api/v1/user', :action => 'create'}, :remote => (ajax ||= false) do |f|
-#  = f.hidden_field 'temporary', :value => true
-#  %div
-#    = f.label :name
-#    = f.text_field :name
-#  %div
-#    = f.label :login, t('order.no_registration.phone')
-#    = f.text_field :login
-#
-#  %div
-#    =f.submit t('order.send')