.bc
  .bc__links
    %a{href: parent.url, class: child ? '' : 'no-child'}
      = parent.name
      %i.bc__ico-1
    - if child
      %span= child.name
  .bc__filter
    %span Сортировать по:
    %button.js-sort Самое популярное
    %ul
      %li По цене
      %li По рейтингу
      %li По производителю
      %li По рейтингу покупателей
  .bc__push