.login
  - if current_user
    %a{href: account_path}= current_user.name
    %button.user-state__settings
      %i
    .login__links
      %ul
        - @items.each do |item|
          %li
            %a{href: item[:link]}
              = item[:title]

  - else
    %a.btn.user-state__login{href: login_path, data: {popup: login_path, title: t('popup.welcome'), classes: 'popup_welcome js-popup'}}
      Войти