@import "common/base";


//header
.header {
  position: relative;
  height: 188px;
  margin-bottom: 30px;
  background: #f6f6f6;
  //  @include background-image(linear-gradient(#f6f6f6, #f2f2f2));
  border: 1px solid white;
  border-width: 0px 1px 1px 1px;
  box-shadow: 0 0 1px #f9f9f9, 0 0 2px rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
  z-index: 200;
}

.header__top, .header__down {
  height: 86px;
}

.header__top {
  height: 90px;
  margin-bottom: 18px;
  background: asset_url('icons/header-line.png') repeat-x 0 100%;
  @include clr;
}

.header__down {
  height: 71px;
  padding: 0 30px;
  @include rt(768) {
    padding: 0 30px 0 0;
  }
}

.logo {
  float: left;
  margin: 8px 0 0 45px;
  font-size: 0;
  text-align: center;
}

.logo__pic {
  display: inline-block;
  margin: 0 0 5px 0;
  opacity: 0.95;
  @include s(logo);
  &:hover {
    opacity: 1;
  }
  &.logo__pic_white {
    @include s(logo-white);
  }
}
.login {
  position: relative;
  float: right;
  margin: 30px 15px 0 20px;

  .user-state__settings {
    padding: 1px 5px;
    margin-left: 14px;
    border-left: 1px solid #97dbfd;
    background: none;
    vertical-align: middle;
    i {
      display: block;
      @include s(login);
    }
  }

  @include rt(1120) {
    margin: 40px 0 0 20px;
  }

  .login__links {
    display: none;
    position: absolute;
    top: 20px;
    right: 1px;
    padding-top: 10px;
    ul {
      position: relative;
      padding: 2px;
      border: 1px solid #bababa;
      border-radius: 2px;
      background: white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      z-index: 250;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
      }
      &:after {
        right: 4px;
        top: -8px;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent white transparent;
      }
      &:before {
        right: 3px;
        top: -10px;
        border-width: 0 8px 10px 8px;
        border-color: transparent transparent #bababa transparent;
      }
      li {
        border-top: 1px dotted #d6d6d6;
        width: 115px;
        &:first-child {
          border: none;
        }
      }
      a {
        position: relative;
        display: block;
        padding: 4px;
        color: #8a8a8a;
        &:hover {
          background-color: #E5F1F7;
          color: #555555;
          text-decoration: none;
        }
      }
    }
  }
}

.nav {
  float: right;
  margin-top: 25px;
  a {
    float: left;
    margin-left: 40px;
    color: #666666;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: #222222;
    }
    @include rt(1120) {
      margin-left: 20px;
    }
  }
}

.sel-shop {
  float: left;
  height: 64px;
  padding: 7px 15px 0;
  border-right: 1px solid #e1e1e1;
  box-shadow: 1px 0 0 #fcfcfc;
  cursor: pointer;
  &.is-open {
    ul {
      display: block;
    }
    button {
      &:after {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #656565 transparent;
        box-shadow: 0 1px 0 white;
      }
    }
  }
}

.sel-shop__list {
  position: relative;
  margin-bottom: 10px;
  button {
    position: relative;
    padding-right: 15px;
    background: none;
    font-size: 14px;
    text-shadow: 0 1px 0 white;
    color: #666666;
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #656565 transparent transparent transparent;
      box-shadow: 0 -1px 0 white;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 19px;
    left: -10px;
    right: -10px;
    border: 1px solid #dedede;
    border-radius: 2px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  li {
    padding: 6px 10px;
    border-top: 1px dotted #d6d6d6;
    font-size: 0;
    text-align: center;
    &:first-child {
      border: none;
    }
    img {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.sel-shop__pic {
  text-align: center;
  img {
    &:hover {
      opacity: 0.6;
    }
  }
}

//menu
.menu {
  position: relative;
  margin-left: 172px;
  &.is-slider {
    margin-left: 192px;
  }
}

.menu__btn-prev, .menu__btn-next {
  display: none;
  position: absolute;
  top: 0;
  width: 20px;
  height: 71px;
  background: none;
  overflow: visible;
  &:hover {
    background: #e1e1e1;
  }
  i {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 0px;
    height: 0px;
    margin-top: -10px;
    border-style: solid;
  }
}

.menu__btn-prev {
  left: -20px;
  i {
    border-width: 10px 10px 10px 0;
    border-color: transparent $bl transparent transparent;
  }
}

.menu__btn-next {
  right: -20px;
  i {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $bl;
  }
}

.menu__list {
  overflow: hidden;
}

.menu__list-in {
  white-space: nowrap;
  font-size: 0;
  & > li {
    position: relative;
    display: inline-block;
    max-width: 100px;
    vertical-align: top;
    & > a {
      display: block;
      height: 71px;
      padding: 45px 10px 0;
      border-right: 1px solid #e1e1e1;
      box-shadow: 1px 0 0 #fcfcfc;
      white-space: normal;
      text-align: center;
      font-size: 11px;
      color: #666666;
      text-transform: uppercase;
      @include box;
      &:hover, &.is-active {
        color: $gr;
      }
      i {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -27px;
      }
    }
  }
}

.menu__sub {
  display: none;
  position: absolute;
  top: 70px;
  padding-top: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 20;
  }
}

.menu__sub-in {
  padding: 23px 17px;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 0 0 1px #f9f9f9, 0 0 2px rgba(0, 0, 0, 0.7);
  background: #f6f6f6;
  text-align: left;
  white-space: nowrap;
  ul {
    display: inline-block;
    width: 200px;
    padding-right: 20px;
    vertical-align: top;
    font-size: 14px;
    white-space: normal;
  }
  li {
    padding-top: 5px;
    &:first-child {
      padding: 0;
    }
    &.is-selected {
      a {
        font-weight: bold;
        color: #999999;
        &:before {
          background: #999999;
        }
      }
    }
  }
  a {
    position: relative;
    display: block;
    padding-left: 10px;
    color: #444444;
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #444444;
    }
    &:hover {
      color: $bl;
      &:before {
        background: $bl;
      }
    }
  }
}

.menu__sub-arr {
  display: none;
  position: absolute;
  top: 76px;
  @include s(menu-sub-arr);
  z-index: 10;
}

.menu__item-1 {
  i {
    @include s(ico-menu-1);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-1-h);
    }
  }
}

.menu__item-2 {
  i {
    @include s(ico-menu-2);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-2-h);
    }
  }
}

.menu__item-3 {
  i {
    @include s(ico-menu-3);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-3-h);
    }
  }
}

.menu__item-4 {
  i {
    @include s(ico-menu-4);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-4-h);
    }
  }
}

.menu__item-5 {
  i {
    @include s(ico-menu-5);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-5-h);
    }
  }
}

.menu__item-6 {
  i {
    @include s(ico-menu-6);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-6-h);
    }
  }
}

.menu__item-7 {
  i {
    @include s(ico-menu-7);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-7-h);
    }
  }
}

.menu__item-8 {
  i {
    @include s(ico-menu-8);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-8-h);
    }
  }
}

.menu__item-9 {
  i {
    @include s(ico-menu-9);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-9-h);
    }
  }
}

.menu__item-10 {
  i {
    @include s(ico-menu-10);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-10-h);
    }
  }
}

.menu__item-11 {
  i {
    @include s(ico-menu-11);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-11-h);
    }
  }
}

.menu__item-12 {
  i {
    @include s(ico-menu-12);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-12-h);
    }
  }
}

.menu__item-13 {
  i {
    @include s(ico-menu-13);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-13-h);
    }
  }
}

.menu__item-14 {
  i {
    @include s(ico-menu-14);
  }
  &:hover, &.is-active {
    i {
      @include s(ico-menu-14-h);
    }
  }
}