@import "common/base";

//styles for layouts
.layout {
  position: relative;
  max-width: 1850px;
}

.layout_mod {
  padding-right: 260px;
  @include clr;
}

.right {
  float: right;
  min-width: 180px;
}

.left {
  float: left;
  width: 220px;
}

.center {
  margin-left: 250px;
}
