@import "common/base";

//styles for layouts
.layout {
  position: relative;
  max-width: 1850px;

  .center {
    margin-right: 250px;
  }
}

.layout_mod {
  padding-right: 260px;
  @include clr;
}

.right {
  float: right;
  width: 220px;
}

.left {
  float: left;
  width: 220px;
}