@import "common/base";

//styles for layouts
.layout {
  position: relative;
  max-width: $max_width;
  padding-top: 170px;
  margin: 0 auto;

  .center {
    margin-right: 250px;
  }
}

.layout_mod {
  padding-right: 260px;
  @include clr;
}

.right {
  float: right;
  width: 230px;
}

.left {
  float: left;
  width: 220px;
}