%div{'ng-show' => "isEmpty(goods)"}
  Тест Хамла

-#%div{'ng-show' => "isEmpty(goods)"}
-#  EMPTY GOODS
-#
-#%div
-#  %table.table
-#    %caption Products {{goods.length}}
-#    %thead
-#      %tr
-#        %th Number
-#        %th Name
-#        %th Description
-#    %tbody
-#      %tr{'ng-repeat' => "good in goods | filter:searchGoodsList" }
-#        %td {{$index}}
-#        %td {{good.good_name}}
-#        %td {{good.price}}
