/ BEGIN .cart
.cart
  .cart__title
    %em
    %span
      5246
      %sup 00
      %i.rub P
  .cart__in
    %ul.cart__list.js-cart-popup
      %li
        .cart__list-item
          %img{alt: "", src: "/assets/shop1-s.png"}/
          %strong
            7500
            %sup 00
            %i.rub P
      %li
        .cart__list-item
          %img{alt: "", src: "/assets/shop2-s.png"}/
          %strong
            7500
            %sup 00
            %i.rub P
      %li.is-empty
        .cart__list-item
          %img{alt: "", src: "/assets/shop3-s.png"}/
          %strong
            7500
            %sup 00
            %i.rub P
      %li
        .cart__list-item
          %img{alt: "", src: "/assets/shop4-s.png"}/
          %strong
            7500
            %sup 00
            %i.rub P
    .cart__go
      %button ОФОРМИТЬ ЗАКАЗ
  / BEGIN .cart__popup
  .cart__popup
    .cart__arr
    .cart__top
      %strong ВАШИ ПОКУПКИ
      %button.js-cart-close
        Вернуться к покупкам
        %i
    .cart__prod
      %ul.cart__prod-in.js-scroll
        %li
          .cart__prod-pic
            %img{alt: "", src: "/assets/pic2.jpg"}/
            %button
          .cart__prod-title Ролл с крабовыми палочками Калифорния...
          .weight.js-weight
            %button.weight__btn-minus
              %i
            %button.weight__btn-plus
              %i
            .weight__val
              %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
              %span гр
          .cart__prod-price
            Стоимость:
            %span 470
            %i.rub P
        %li
          .cart__prod-pic
            %img{alt: "", src: "/assets/pic2.jpg"}/
            %button
          .cart__prod-title Ролл с крабовыми палочками Калифорния...
          .weight.js-weight
            %button.weight__btn-minus
              %i
            %button.weight__btn-plus
              %i
            .weight__val
              %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
              %span гр
          .cart__prod-price
            Стоимость:
            %span 470
            %i.rub P
        %li
          .cart__prod-pic
            %img{alt: "", src: "/assets/pic2.jpg"}/
            %button
          .cart__prod-title Ролл с крабовыми палочками Калифорния...
          .weight.js-weight
            %button.weight__btn-minus
              %i
            %button.weight__btn-plus
              %i
            .weight__val
              %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
              %span гр
          .cart__prod-price
            Стоимость:
            %span 470
            %i.rub P
        %li
          .cart__prod-pic
            %img{alt: "", src: "/assets/pic2.jpg"}/
            %button
          .cart__prod-title Ролл с крабовыми палочками Калифорния...
          .weight.js-weight
            %button.weight__btn-minus
              %i
            %button.weight__btn-plus
              %i
            .weight__val
              %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
              %span гр
          .cart__prod-price
            Стоимость:
            %span 470
            %i.rub P
        %li
          .cart__prod-pic
            %img{alt: "", src: "/assets/pic2.jpg"}/
            %button
          .cart__prod-title Ролл с крабовыми палочками Калифорния...
          .weight.js-weight
            %button.weight__btn-minus
              %i
            %button.weight__btn-plus
              %i
            .weight__val
              %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
              %span гр
          .cart__prod-price
            Стоимость:
            %span 470
            %i.rub P
    .cart__bottom
      %strong
        Доставка:
        %span
          400
          %sup 00
        %i.rub P
      %strong
        Итого:
        %span
          3396
          %sup 00
        %i.rub P
  / END .cart__popup
/ END .cart