//variables
$bl: #009bea;
$blh: #2db8fe;
$gr: #7dc444;
$grh: #9bea31;
$min_width: 650px;
$max_width: 1600px;

$linkBgHover: #E5F1F7;

// global sprites with padding
$icons: sprite-map("icons/*.png", $spacing: 10px);