@import "compass/css3";
@import "common/base";

// common styles
.no-scroll {
  overflow: hidden;
}

input[disabled], textarea[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.inside-block {
  position: fixed;
  right: 0px;
  z-index: 9999;
  .btn {
    padding: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
}

.page {
  min-height: 100%;
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -212px;
  padding: 0 20px;
  overflow: hidden;
  &.is-fixed {
    @include rt(more768) {
      .header, .search {
        position: fixed;
      }
      .header {
        top: -90px;
        left: 20px;
        right: 20px;
        z-index: 400;
      }
      .header__top {
        display: none;
      }
      .header__down {
        padding-top: 108px;
      }
      .search {
        top: 131px;
        z-index: 300;
      }
      .search {
        left: 20px;
      }
      .layout {
        padding-top: 221px;
      }
      //    .left {
      //      padding-top: 52px;
      //    }
    }
  }
}

.push {
  height: 212px;
  clear: both;
}

.container {
  width: 1300px;
  margin: 0 auto;
  @include rt(1380) {
    width: auto;
    margin: 0 20px;
  }
}

.container_cols {
  margin-bottom: 70px;
  overflow: hidden;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
  text-transform: uppercase;
  color: #222222;
  font-weight: bold;
}

.title_small {
  font-size: 16px;
  text-transform: none;
}

.title_big {
  font-size: 32px;
  text-transform: none;
}

//footer
.footer {
  height: 215px;
  padding-top: 22px;
  background: #2d3537;
  border-top: 2px solid white;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.4) inset;
}

.footer__in {
  max-width: 760px;
  margin: 0 auto;
  @include clr;
}

.footer__left {
  float: left;
  .logo {
    position: relative;
    display: block;
    float: none;
    padding-bottom: 15px;
    margin: 2px 15px 18px 15px;
    border-bottom: 2px dotted white;
  }
}

.social {
  font-size: 0;
  text-align: center;
  a {
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    i {
      display: inline-block;
    }
  }
}

.social__ok {
  i {
    @include s(soc-ok);
  }
  &:hover {
    i {
      @include s(soc-ok-h);
    }
  }
}

.social__fb {
  i {
    @include s(soc-fb);
  }
  &:hover {
    i {
      @include s(soc-fb-h);
    }
  }
}

.social__vk {
  i {
    @include s(soc-vk);
  }
  &:hover {
    i {
      @include s(soc-vk-h);
    }
  }
}

.social__tw {
  i {
    @include s(soc-tw);
  }
  &:hover {
    i {
      @include s(soc-tw-h);
    }
  }
}

.social__rss {
  i {
    @include s(soc-rss);
  }
  &:hover {
    i {
      @include s(soc-rss-h);
    }
  }
}

.social_blue {
  a {
    width: 36px;
    height: 36px;
    margin: 0;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    i {
      display: inline-block;
      vertical-align: middle;
    }
    &:hover {
      background: #a2dfee;
    }
  }
  .social__ok {
    i {
      @include s(soc-ok-h);
    }
    &:hover {
      i {
        @include s(soc-ok);
      }
    }
  }
  .social__fb {
    i {
      @include s(soc-fb-h);
    }
    &:hover {
      i {
        @include s(soc-fb);
      }
    }
  }
  .social__vk {
    i {
      @include s(soc-vk-h);
    }
    &:hover {
      i {
        @include s(soc-vk);
      }
    }
  }
  .social__tw {
    i {
      @include s(soc-tw-h);
    }
    &:hover {
      i {
        @include s(soc-tw);
      }
    }
  }
  .social__rss {
    i {
      @include s(soc-rss-h);
    }
    &:hover {
      i {
        @include s(soc-rss);
      }
    }
  }
}

.footer__nav {
  float: right;
  ul {
    float: left;
    //&:first-child {
    margin-right: 35px;
    //& + ul {
    //  margin-right: 85px;
    //}
    //}
  }
  li {
    margin-bottom: 4px;
    font-size: 12px;
    &:first-child {
      //      font-weight: bold;
      color: $gr;
    }
  }
  a {
    color: #f6f6f6;
    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  padding-top: 23px;
  clear: both;
  font-size: 12px;
  text-align: center;
  color: #fdfdfd;
}

//share
.share {
  font-size: 0;
  a {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 10px 0;
  }
}

.share__vk {
  @include s(share-vk);
}

.share__fb {
  @include s(share-fb);
}

.share__gp {
  @include s(share-gp);
}

.share__mr {
  @include s(share-mr);
}

.share__ok {
  @include s(share-ok);
}

.share__tb {
  @include s(share-tb);
}

.share__rss {
  @include s(share-rss);
}

.share__tw {
  @include s(share-tw);
}

//rub
.rub {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-style: normal;
  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background: $bl;
  }
  &:before {
    top: 7px;
    width: 3px;
  }
  &:after {
    top: 10px;
    width: 8px;
  }
}

//scroll
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 20;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  position: relative;
  float: left;
  height: 6px;
  background: #cbcbcb;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  border-width: 1px 0;
  cursor: pointer;
}

.jspDrag {
  position: relative;
  top: -2px;
  left: 0;
  height: 10px;
  border-radius: 2px;
  background: $bl;
  opacity: 0.7;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

//overlay
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 500;
}

//btn
.btn {
  border-radius: 2px;
  font-size: 16px;
  color: white;
  font-weight: bold;

  &.btn-globo {
    background: $bl;
    padding: 3px 12px;
    &:hover, &:active, &:focus {
      color: #ffffff !important;
    }
    &:hover {
      background: $blh;
    }
    &:active {
      background: #0484c6;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    }

    &.load {
      background: asset_url('loaders/loader-s.gif') no-repeat center center #65b1d7;
      color: transparent !important;
      img {
        margin-left: 10px;
      }
    }
  }
}

.btn-dashed {
  background: none;
  border-bottom: 1px dashed $bl;
  font-size: 12px;
  color: $bl;
  &:hover {
    border-color: $blh;
    color: $blh;
  }
}

a {
  &.btn-dashed {
    display: inline-block;
  }
}

.btn-arr {
  position: relative;
  padding: 0 40px;
  height: 30px;
  background: $bl;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 8px;
    border-color: transparent transparent transparent $bl;
  }
  &:hover {
    background: $blh;
    &:after {
      border-color: transparent transparent transparent $blh;
    }
  }
  &:active {
    background: #0484c6;
    &:after {
      border-color: transparent transparent transparent #0484c6;
    }
  }
}

//label
.label {
  display: block;
  margin-bottom: 20px;
  text-align: left;
  &.is-disabled {
    .label__title {
      color: #c9c9c9;
    }
    .label__txt {
      border-color: #c9c9c9;
    }
  }
  &.has-error {
    .label__txt {
      border-color: #a94442;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      }
    }
  }
}

.label_no-title {
  padding-top: 25px;
}

.label_mod {
  margin-bottom: 10px;
}

.label__txt, .label__area {
  width: 100%;
  border: 1px solid $gr;
  background: white;
  font-size: 16px;
  color: #4e4e4e;
  border-radius: 2px;
  @include trans(box-shadow 0.2s linear);
  @include box;
  &:focus {
    box-shadow: 0 0 5px #a8dc61;
  }
}

.label__txt {
  height: 30px;
  padding: 0 8px;
}

.label__area {
  min-height: 90px;
  padding: 4px 8px;
  resize: vertical;
}

.label__title {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #888888;
}

.label__in {
  position: relative;
  display: block;
  padding-left: 22px;
  i {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.label__help {
  display: block;
  padding-top: 7px;
  font-size: 12px;
  color: #989898;
}

.label__select {
  position: relative;
  height: 28px;
  border: 1px solid $gr;
  background: white;
  border-radius: 2px;
  span {
    position: relative;
    display: block;
    padding: 0 44px 0 8px;
    line-height: 28px;
    font-size: 16px;
    color: #afafaf;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    @include no-sel;
    i {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      height: 30px;
      background: $gr;
      &:after {
        content: "";
        position: absolute;
        top: 12px;
        left: 13px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: white transparent transparent transparent;
      }
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 28px;
    left: -1px;
    right: -1px;
    border: 1px solid $gr;
    background: white;
    z-index: 100;
    li {
      padding: 3px 8px;
      font-size: 16px;
      color: #afafaf;
      cursor: pointer;
      &:hover {
        background: $gr;
        color: white;
      }
    }
  }
  &.is-open {
    ul {
      display: block;
    }
  }
}

.ico-login {
  @include s(ico-login);
}

.ico-pass {
  @include s(ico-pass);
}

.ico-phone {
  @include s(ico-phone);
}

.label-check {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 32px;
  @include no-sel;
  input, i {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
  }
  input {
    opacity: 0;
    z-index: 5;
    &:checked + i {
      &:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 4px;
        @include s(label-check);
      }
    }
  }
  i {
    border: 1px solid $gr;
    border-radius: 2px;
    background: white;
  }
  span {
    display: block;
    padding-top: 2px;
    font-size: 16px;
    color: #888888;
  }
  &.is-disabled {
    i {
      border-color: #c9c9c9;
    }
    span {
      color: #c9c9c9;
    }
  }
}

//datepicker
.datepicker {
  position: relative;
  @include clr;
}

.datepicker__wrap {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  @include no-sel;
  z-index: 100;
  &:before, &:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 15px;
    width: 0px;
    height: 0px;
    border-style: solid;
  }
  &:after {
    top: -8px;
    left: 40px;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent $bl transparent;
  }
  &:before {
    top: -10px;
    left: 36px;
    border-width: 0 12px 14px 12px;
    border-color: transparent transparent #bfbfbf transparent;
  }
  .ui-datepicker-inline {
    background: #fbfbfb;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .ui-datepicker-header {
    position: relative;
    height: 45px;
    background: $bl;
    border-bottom: 1px solid #c9c9c9;
  }
  .ui-datepicker-next, .ui-datepicker-prev {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    .ui-icon {
      display: inline-block;
      @include ht;
    }
    &:hover {
      background: $blh;
    }
    &.ui-state-disabled {
      display: none;
    }
  }
  .ui-datepicker-next {
    right: 0;
    border-left: 1px solid $blh;
    .ui-icon {
      @include s(dp-next);
    }
  }
  .ui-datepicker-prev {
    left: 0;
    border-right: 1px solid $blh;
    .ui-icon {
      @include s(dp-prev);
    }
  }
  .ui-datepicker-title {
    height: 45px;
    padding: 0 50px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    span {
      display: block;
    }
    .ui-datepicker-year {
      display: none;
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    thead {
      background: white;
      span {
        display: block;
        padding: 7px 0;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 11px;
        color: #888888;
      }
    }
    tbody {
      td {
        border: 1px solid #c9c9c9;
      }
      span, a {
        display: block;
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        font-size: 16px;
        color: #a3a3a3;
      }
      .ui-state-disabled {
        span {
          color: #d2d2d2;
        }
      }
      .ui-datepicker-current-day {
        a {
          background: $gr;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.datepicker__btn {
  position: relative;
  float: left;
  margin-right: 20px;
  padding-right: 23px;
  color: $bl;
  background: none;
  overflow: visible;
  i {
    position: absolute;
    top: 0;
    right: 0;
    @include s(step-date);
  }
}

.datepicker__date {
  float: left;
  color: $bl;
}

//prompt
.prompt {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 17px;
  height: 17px;
  background: $bl;
  border-radius: 50%;
  line-height: 17px;
  text-align: center;
  cursor: default;
  span {
    font-size: 12px;
    color: white;
    line-height: 18px;
  }
  &:hover {
    .prompt__in {
      display: block;
    }
  }
}

.prompt__in {
  display: none;
  position: absolute;
  top: -10px;
  left: 30px;
  width: 220px;
  padding: 10px;
  background: white;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
  color: #989898;
  line-height: 1.4;
  z-index: 1000;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 13px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 8px 4px 0;
  }
  &:after {
    left: -7px;
    border-color: transparent white transparent transparent;
  }
  &:before {
    left: -9px;
    border-color: transparent #d6d6d6 transparent transparent;
  }
}

//comm
.comm {
  margin: 40px -40px -40px;
  padding: 30px 40px;
  border-top: 1px dashed #e7e7e7;
}

.comm__head {
  @include clr;
  .label {
    float: left;
    width: 220px;
    margin-right: 20px;
  }
}

.comm__login {
  float: left;
  margin-top: 5px;
  span {
    color: $bl;
  }
}

.comm__btn {
  text-align: right;
  .btn {
    width: 240px;
  }
}

.comm__item, .comm__reply {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #e7e7e7;
  @include clr;
}

.comm__item {
  .comm__form {
    padding-top: 15px;
  }
}

.comm__ava {
  float: left;
  margin-right: 15px;
  a, img {
    display: block;
    border-radius: 50%;
  }
  a {
    position: relative;
    &:hover {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid $bl;
        border-radius: 50%;
      }
    }
  }
}

.comm__detail {
  display: table;
}

.comm__meta {
  margin-bottom: 10px;
  font-size: 12px;
  color: #666666;
  span, a {
    margin-right: 7px;
  }
}

.comm__text {
  font-size: 16px;
  .btn-dashed {
    float: right;
    margin-left: 20px;
  }
}

.comm__btn-reply {
  margin-top: 10px;
  text-align: right;
}

.comm__reply {
  position: relative;
  padding-left: 68px;
  &:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    @include s(arr-reply);
  }
  .comm__item {
    padding: 10px;
    background: #f9f6f6;
    border: 1px solid #e7e7e7;
  }
}

//pagination
.pagination {
  margin-bottom: 45px;
  text-align: center;
  font-size: 0;

  .pagination__in {
    display: inline-block;
    min-width: 760px;
    height: 32px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    line-height: 32px;
    @include rt(1120) {
      min-width: 0;
      padding: 0 50px;
    }

    a, span {
      display: inline-block;
      padding: 0 11px;
      border-left: 1px solid #e7e7e7;
      vertical-align: top;
      font-size: 16px;
      color: #444444;
      &:first-child {
        border: none;
      }
      &:hover {
        color: $bl;
      }
      &.is-active {
        font-weight: bold;
        color: $bl;
      }
    }
    .pagination__prev, .pagination__next {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
      }
    }
    .pagination__prev {
      padding-left: 13px;
      &:before {
        top: 10px;
        left: 0;
        border-width: 6px 6px 6px 0;
        border-color: transparent #444444 transparent transparent;
      }
      &:hover {
        &:before {
          border-color: transparent $bl transparent transparent;
        }
      }
    }
    .pagination__next {
      padding-right: 13px;
      &:before {
        top: 11px;
        right: 0;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent #444444;

      }
      &.disabled {
        &:before {
          border-color: transparent transparent transparent #777777;
          &:hover {
            color: #777777;
          }
        }
        &:hover {
          color: #777777;
        }
      }

      &:hover {
        &:before {
          border-color: transparent transparent transparent $bl;
        }
      }
    }
    .disabled {
      cursor: default;
    }
  }
}

// Bootstrap
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid $gr;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:focus {
    border-color: $gr;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  &:-moz-placeholder {
    color: #999999;
  }

  &::-moz-placeholder {
    color: #999999;
  }

  &:-ms-input-placeholder {
    color: #999999;
  }

  &::-webkit-input-placeholder {
    color: #999999;
  }
}