@import "common/base";

//search
.search {
  position: relative;
  margin-bottom: 20px;
  input {
    width: 125px;
    height: 30px;
    padding: 0 44px 0 9px;
    border: 1px solid $gr;
    border-radius: 3px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    background: $gr;
    border-radius: 3px;
    overflow: visible;
    i {
      position: absolute;
      top: 8px;
      left: 10px;
      @include s(search);
    }
  }
}

//prosearch
.prosearch {
  position: relative;
  padding: 0 260px 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed #dddede;
  @include clr;
  .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
  }
}

.prosearch_many {
  padding-bottom: 0;
  border: none;
}

.prosearch__in {
  background: #fbfbfb;
  border: 1px solid $gr;
  border-radius: 2px;
  @include box;
}

.prosearch__txt {
  overflow: hidden;
  input {
    float: left;
    width: 100%;
    height: 29px;
    padding: 0 10px;
    background: white;
    @include box;
    &:focus {
      background: white;
    }
  }
}

.prosearch__shop {
  position: relative;
  float: right;
  text-align: center;
  font-size: 0;
  span {
    display: block;
    width: 110px;
    height: 29px;
    background: white;
    border-left: 1px solid #dedede;
    line-height: 29px;
    cursor: pointer;
    img {
      vertical-align: middle;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: white;
    border: 1px solid #dedede;
    z-index: 100;
    li {
      padding: 5px 0;
      border-top: 1px dashed #dedede;
      opacity: 0.6;
      cursor: pointer;
      &:first-child {
        border: none;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

//result
.result {
  margin-bottom: 50px;
}

.result_recipe {
  .result__catalog {
    &:after {
      right: 0;
    }
    .catalog {
      margin-right: 0;
    }
  }
}

.result__stats {
  margin-bottom: 20px;
  padding: 10px 15px;
  background: white;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  @include clr;
  span, strong {
    float: left;
    margin-right: 7px;
  }
  span {
    font-size: 14px;
    color: #888888;
  }
  strong {
    font-weight: normal;
    color: $bl;
  }
  .btn-dashed {
    float: right;
    margin-top: 2px;
  }
}

.result__catalog {
  position: relative;
  margin-bottom: 20px;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    z-index: 10;
  }
  &:before {
    left: 0;
//    @include background-image(linear-gradient(left, rgba(251, 251, 251, 1), rgba(251, 251, 251, 0.5), rgba(251, 251, 251, 0)));
  }
  &:after {
    right: 170px;
//    @include background-image(linear-gradient(left, rgba(251, 251, 251, 0), rgba(251, 251, 251, 0.5), rgba(251, 251, 251, 1)));
  }
  .catalog {
    height: 445px;
    margin-right: 170px;
    white-space: nowrap;
    overflow: auto;
  }
  .catalog__list {
    margin: 0;
    padding: 2px;
  }
  .catalog__item {
    width: 260px;
    margin: 5px;
    white-space: normal;
    &:first-child {
      margin-left: 0;
    }
  }
  .catalog__item-in.is-selected {
    margin: 0;
    .catalog__down-in {
      left: 0px;
    }
  }
}

.result__btn-more {
  position: absolute;
  top: 120px;
  right: 0;
  width: 140px;
  height: 140px;
  background: white;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  span {
    display: block;
    padding-top: 10px;
    color: $bl;
    font-size: 12px;
  }
  i {
    display: inline-block;
    @include s(result-more);
  }
  &:hover {
    span {
      color: $blh;
    }
    i {
      opacity: 0.8;
    }
  }
}

.result__cols {
  @include clr;
}

.result__filter {
  float: left;
  width: 225px;
  margin-right: 20px;
}

.result__list {
  overflow: hidden;
}

.browsers {
  font-size: 0;
  li {
    display: inline-block;
    margin: 0 45px 45px;
    vertical-align: top;
    @include rt(1380) {
      margin: 0 20px 20px;
    }

    @include rt(1120) {
      margin: 0 10px 10px;
    }

    @include rt(1000) {
      margin: 0 60px 60px;
    }
  }
  a {
    display: block;
    &:hover {
      span {
        color: $blh;
      }
    }
  }
  i {
    display: inline-block;
    margin-bottom: 20px;
  }
  span {
    display: block;
    font-size: 14px;
    color: $bl;
  }
}

.browsers__item-1 {
  @include s(browser1);
}

.browsers__item-2 {
  @include s(browser2);
}

.browsers__item-3 {
  @include s(browser3);
}

.browsers__item-4 {
  @include s(browser4);
}

//ingreds
.ingreds {
  margin-bottom: 30px;
}

.ingreds__in, .ingreds__search {
  position: relative;
  margin-bottom: 10px;
  background: white;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
}

.ingreds__search {
  padding: 15px 10px;
  .ingreds__title {
    padding: 0 0 15px;
  }
}

.ingreds__search-list {
  @include clr;
  li {
    position: relative;
    float: left;
    margin: 0 13px 6px 0;
    padding: 2px;
    background: #e7e7e7;
    font-size: 12px;
    color: #989898;
    cursor: pointer;
    &:before {
      content: "+";
      position: absolute;
      top: 3px;
      right: -10px;
    }
    &:last-child {
      margin: 0;
      &:before {
        display: none;
      }
    }
  }
}

.ingreds__title {
  padding: 7px 7px 20px;
  font-size: 16px;
  font-weight: bold;
}

.ingreds__text {
  margin-bottom: 10px;
  font-size: 12px;
  color: #989898;
  line-height: 1.4;
}

.ingreds__list {
  margin-bottom: 10px;
  label {
    position: relative;
    display: block;
    padding: 7px 37px 7px 7px;
    border-top: 1px dashed #e1e1e1;
    @include no-sel;
    &:first-child {
      border: none;
    }
  }
  span {
    font-size: 16px;
    color: $bl;
  }
  input, i {
    position: absolute;
    top: 6px;
    right: 9px;
  }
  input {
    opacity: 0;
    z-index: 5;
    &:checked + i {
      &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        @include s(check);
      }
    }
  }
  i {
    width: 19px;
    height: 19px;
    background: #fbfbfb;
    border: 1px solid $gr;
    border-radius: 3px;
  }
}

.ingreds__choice-all {
  padding: 0 9px 17px;
  text-align: right;
}

//recipe
.recipe {
  margin-bottom: 40px;
}

.recipe__item {
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background: white;
  @include clr;
  @include rt(1120) {
    padding: 30px;
  }
}

.recipe__pic {
  float: left;
  margin-right: 60px;
  img {
    display: block;
    border-radius: 5px;
  }
  @include rt(1120) {
    margin-right: 30px;
  }
}

.recipe__detail {
  display: table;
}

.recipe__name {
  margin-bottom: 15px;
  a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }
}

.recipe__by {
  margin-bottom: 15px;
  span, img {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    font-size: 12px;
    color: #888888;
  }
}

.recipe__desc {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}

.recipe__info {
  @include clr;
  li {
    float: left;
    margin: 25px 50px 0 0;
    font-size: 16px;
  }
  strong {
    display: block;
    margin-bottom: 15px;
  }
  span, i {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    margin-right: 10px;
  }
  span {
    font-weight: bold;
    color: $bl;
  }
}

.recipe__info-time {
  position: relative;
  top: -2px;
  @include s(recipe-time);
}

.recipe__info-cook {
  @include s(recipe-cook);
}

.recipe__info-value {
  @include s(recipe-value);
}

.recipe__cols {
  @include clr;
}

.recipe__ingreds {
  float: left;
  width: 315px;
  margin-right: 20px;
  .ingreds__title {
    padding: 15px 7px;
  }
  .ingreds__text {
    padding: 0 7px;
  }
  .ingreds__list {
    span {
      display: block;
      overflow: hidden;
    }
    strong {
      float: right;
      margin-left: 20px;
      font-weight: normal;
      color: #666666;
    }
  }
  .ingreds__search {
    padding: 0 10px 25px;
    text-align: center;
    .ingreds__search-list {
      margin-bottom: 20px;
      text-align: left;
    }
    .btn {
      width: 240px;
    }
  }
}

.recipe__cooking {
  padding: 20px 0 20px 30px;
  background: white;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
}

.recipe__list {
  overflow: hidden;
}

.recipe__comm {
  float: right;
  width: 315px;
  margin-left: 20px;
  @include rt(1120) {
    float: none;
    width: auto;
    overflow: hidden;
    margin: 0 0 20px 0;
    .comment {
      max-width: 500px;
    }
  }

  .share {
    margin-top: 40px;
  }
}

//comment
.comment {
  margin-bottom: 20px;
}

.comment__text {
  margin-bottom: 20px;
  position: relative;
  padding: 10px 15px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background: white;
  font-size: 16px;
  line-height: 1.4;
  color: #666666;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 14px 12px 0 0;
  }
  &:after {
    border-color: white transparent transparent transparent;
    bottom: -12px;
    left: 49px;
  }
  &:before {
    border-color: #e7e7e7 transparent transparent transparent;
    bottom: -15px;
    left: 48px;
  }
}

.comment__person {
  @include clr;
  img {
    float: left;
    margin: 0 20px;
    border-radius: 50%;
  }
  strong, span {
    display: block;
    font-size: 12px;
  }
  strong {
    padding: 5px 0;
    font-weight: normal;
    color: $bl;
  }
  span {
    color: #888888;
  }
}

//cooking
.cooking {}

.cooking__title {
  font-weight: bold;
  font-size: 16px;
}

.cooking__item {
  position: relative;
  min-height: 50px;
  padding: 20px 20px 20px 70px;
  border-bottom: 1px dashed #e7e7e7;
  &:last-child {
    border: none;
  }
  @include rt(1120) {
    padding: 20px 20px 20px 50px;
  }
}

.cooking__count {
  position: absolute;
  top: 20px;
  left: 0;
  width: 50px;
  height: 50px;
  background: $bl;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  @include rt(1120) {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}

.cooking__desc {
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
  }
}

.cooking__pics, .cooking__video {
  margin-top: 20px;
}

.cooking__pics {
  margin-bottom: -20px;
  @include clr;
  img {
    float: left;
    margin: 0 20px 20px 0;
  }
}

.cooking__video {
  max-width: 600px;
  & > * {
    width: 100%;
  }
}

//bon-appetit
.bon-appetit {
  position: relative;
  padding: 20px;
  margin: 0 -20px;
  border-top: 2px dashed #c4c2c4;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
    z-index: -1;
  }
}

.bon-appetit__in {
  display: inline-block;
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    margin-right: 5px;
    @include s(bon-appetit);
  }
  span {
    position: relative;
    padding: 5px 15px;
    background: $bl;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 18px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 8px 0 0;
      border-color: $bl transparent transparent transparent;
    }
  }
}