/**
// Lib
  *= require bootstrap

// Globo Common
  *= require frontend/common
  *= require frontend/inner

  *= require_tree ./frontend/common
  *= require_tree ./frontend/plugins

// Globo pages
  *= require_tree ./frontend/pages
**/