- @goods.each do |good|
%li.goods-item
  .goods-item-wrapper
    .goods-add-to-basket.g-clearfix
      .goods-button-add
        %span Add to basket
      .goods-count
        %input{type:"text", placeholder:"1"}
    .goods-image
    .goods-title
      %span= good.name
    .goods-price
      %span ${{good.price}}
    .goods-stores
      {{good.store_name}}

