= content_for :js do
  :javascript
    $(function(){
       var data = [];
       data.stores = #{@stores.to_json};
       data.categories = #{@categories.to_json}

       Sap.initialize(data);

       $(document).on("click", "a[href^='/goods']", function(evt) {
         evt.preventDefault();
         Backbone.history.navigate($(this).attr("href").replace('/goods',''), true);
       });
    });
