= content_for :content do
  .layout
    .prosearch
      .prosearch__in
        -#.prosearch__shop.js-shop-search
        -#  %span
        -#    %img{alt: "", src: "img/shop2-l.png"}/
        -#  %ul
        -#    %li
        -#      %img{alt: "", src: "img/shop1-l.png"}/
        -#    %li
        -#      %img{alt: "", src: "img/shop2-l.png"}/
        -#    %li
        -#      %img{alt: "", src: "img/shop3-l.png"}/
        -#    %li
        -#      %img{alt: "", src: "img/shop4-l.png"}/
        .prosearch__txt
          %input{placeholder: "Молоко", type: :text}
      %button.btn.btn-globo ИСКАТЬ
    .bc
      .bc__links
        %a{href: "#"}
          Кулинария
          %i.bc__ico-1
        %span Блюда японской кухни
      .bc__filter
        %span Сортировать по:
        %button.js-sort Самое популярное
        %ul
          %li По цене
          %li По рейтингу
          %li По производителю
          %li По рейтингу покупателей
      .bc__push
    %aside.right
      .filter
        %label.filter__all
          %input{name: "filter", type: "radio"}/
          %span Все категории
        .filter__list
          %label.filter__item
            %input{name: "filter", type: "radio"}/
            %span Суши
          %label.filter__item
            %input{checked: "checked", name: "filter", type: "radio"}/
            %span Сашими
          %label.filter__item
            %input{name: "filter", type: "radio"}/
            %span Роллы
          %label.filter__item
            %input{name: "filter", type: "radio"}/
            %span Японские супы
          %label.filter__item
            %input{name: "filter", type: "radio"}/
            %span Японские салаты
          %label.filter__item
            %input{name: "filter", type: "radio"}/
            %span Напитки
    .center
      %section.catalog
        .catalog__list
          - 25.times do
            .catalog__item.col-sm-6.col-md-4.col-lg-3
              .catalog__item-in
                .catalog__pic.js-prod-open
                  %img{alt: "", src: '/assets/pic1.jpg'}/
                  %i.like.is-active
                .catalog__title.js-prod-open Плов с мясом баранины рецепту Глобус Гурмэ
                .catalog__price
                  %span Цена (за 50 гр):
                  %strong
                    75
                    %sup 00
                    %i.rub P
                .catalog__down
                  .catalog__down-in
                    .catalog__down-item
                      .weight.js-weight
                        %button.weight__btn-minus
                          %i
                        .weight__val
                          %input{"data-factor" => "50", maxlength: "4", type: "text", value: "500"}/
                          %span гр
                        %button.weight__btn-plus
                          %i
                      .catalog__sum
                        %strong
                          750
                          %sup 00
                          %i.rub P
                        %button.js-del-prod Удалить
                    .catalog__down-item
                      %button.catalog__buy-btn.js-add-prod В корзину




= content_for :js do
  = javascript_include_tag :catalog