= content_for :main do
  .filters
    %h1 Filters

  .goods
    %h1 Loading...


= content_for :js do
  :javascript
    $(function(){

      //TODO: Cache it

      //Sap.views.basket.render();
      Sap.initRoute();

      $(document).on("click", "a[href^='/goods']", function(evt) {
        evt.preventDefault();
        Backbone.history.navigate($(this).attr("href").replace('/goods',''), true);
      });
    });
