= content_for :body_class do
  goods store

= content_for :right do

  .b-goods
    = content_for :js do
      :javascript
        $(function(){
           var data = [];
           data.goods = #{@goods.to_json};

           Sap.initialize(data);

           $(document).on("click", "a", function(evt) {
             evt.preventDefault();
             var href = { prop: $(this).prop("href"), attr: $(this).attr("href") };
             Backbone.history.navigate(href.attr.replace('goods/',''), true);
           });
        });
