body {
  color: #5f5f5f;
  font: 13px "Trebuchet MS",Tahoma;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
  }

  .user-state {
    margin: 10px;
  }
}