body {
  color: $text-color;
  font-family: "Trebuchet MS",Tahoma;

  // Links
  a {
    color: $text-color;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
  }

  .user-state {
    margin: 10px;
  }

  // Footer
  #footer {
    background: $header-footer-bg;

    .copyright {
      color: #ffffff;
      font-size: 13px;
      margin: 15px auto 0px;
      text-align: center;
    }
  }
}