.market {
  // Header
  #header {
    background: #74c900;
  }

  // MainMenu
  #main-menu {
    .categories {
      .item {
        padding: 0px 15px;
        float:  left;
      }
    }
    .sub-categories {
      .item {
        float:  none;
      }
    }
  }

  // Content
  #wrapper {
    clear: both;
    overflow: hidden;

    // Main Content
    .content-main {
      margin: 0 150px 0 150px;

      // Equal columns height
      @include equal-columns;
    }

    // Left column
    .content-left {
      background: #cdcdcd;
      float: left;
      width: 150px;

      // Equal columns height
      @include equal-columns;
    }

    // Right column
    .content-right {
      background: #cdcdcd;
      float: right;
      width: 150px;

      // Equal columns height
      @include equal-columns;
    }
  }
}