%div#content{:'ng-controller' => 'GoodsCtrl', :'ng-init' => 'index()'}
  .tools.pull-left
    %a{:href=> "/admin/goods/new", :'ng-click' => 'new()'} Add new
    %table.table
      %caption Products {{goods.length}}
      %thead
        %tr
          %th Number
          %th Name
          %th Description
      %tbody
        %tr{'ng-repeat' => "good in goods | filter:searchGoodsList" }
          %td
            %a{:href => '', :'ng-click' => 'show(good.id)'} {{good.id}}
          %td {{good.name}}
          %td {{good.description}}
