h1 We've sent password reset instructions to your email address.
div
  | If you don't receive instructions within a minute or two, check your email's spam and git statusjunk filters, or try <a href="#{password_path}">resending your request</a>."
