= content_for :content do

  .l-content
    .l-container.g-clearfix

      / Left column
      .l-left
        = yield :left

      / Main content
      .l-main
        = yield :main

= render :template => 'layouts/base'