= content_for :content do
  /  Right menu
  .content-right
    = basket_sidebar @order

  / Content
  .content-main
    = content_for?(:main) ? yield(:main) : yield

= render :template => 'layouts/application'